<div style="margin-top: 80px">
    <div class="container" style="margin-bottom: 15px">
      <div class="row">
         <div class="col-md-1">
           </div>
        <div class="col-md-4">
           <input type="text" places-auto-complete types="address" component-restrictions="{country:'fr'}" class="form-control" placeholder="Départ" ng-model="origin"/>
        </div>
        <div class="col-md-1">
           <center><i class="fa fa-arrow-right" aria-hidden="true" style="font-size: 25px; padding-top: 5px"></i></center>
        </div>
        <div class="col-md-4">
           <input type="text" places-auto-complete types="address" component-restrictions="{country:'fr'}" class="form-control" placeholder="Arrivé" ng-model="destination"/>
        </div>
        <div class="col-md-2">
           <button type="submit" class="btn btn-primary pull-left" ng-click="getDirection()">
               rechercher
               <i class="fa fa-arrow-circle-right"></i>
             </button>
        </div>
      </div>
    </div>
   
   
     <!-- <input type="text" ng-model="origin" />
     <input type="text" ng-model="destination" />
     <input type="submit" ng-click="getDirection()"> -->
     <ng-map zoom="14" id="my-map" center="48.8534100, 2.3488000" style="height:500px">
       <directions ng-if="showDirection" draggable="true" panel="directions-panel" travel-mode="DRIVING" origin="{{origin1}}" destination="{{destination1}}">
       </directions>
       <marker id='{{mark._id}}' 
       icon="{
        url:'images/car1.png',
        scaledSize:[50,60]}" 
        ng-repeat="mark in markers" 
        position="[{{mark.latitude}}, {{mark.longitude}}]" 
        on-click="showDetail(mark)"></marker>
       <info-window id="foo-iw" ng-if="showDirection">
         <div ng-non-bindable="">
           <div> gravité: {{mark.grav}} </div>
           <br/>
           <button type="submit" class="btn btn-primary pull-left" ng-click="getDetails()">
              Voir détails
              <i class="fa fa-info-circle"></i>
            </button>
         </div>
       </info-window>
     </ng-map>
     <div ng-repeat="mark in markers">{{mark.latitude}}</div>
   </div>